/* Variables */
:root {
  --dark:#3E4E50;
  --light: #FFD7BF;
  --accent: #F5AC72;
  --headerText: 'OCR A', monospace; }

/* CSS Reset */
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: var(--dark); }

/* Navigation Section */
nav {
  background-color: #DC9B66;
  height: 50px;
  width: 100%;
  padding: 0 50px;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav-link {
  display: inline-block;
  padding: 0 30px;
  color: var(--dark);
  text-decoration: none;
  font-family: var(--headerText);
  font-size: 1.25em;
  transition: .2s ease-out; }

.nav-link.active, .nav-link:hover {
  color: var(--light); }

.hamburger {
  display: none; }

.logo {
  fill: var(--dark);
  height: 30px; }

/* Splash Section */
.splash {
  height: 100vh;
  padding-top: 50px; }

.content {
  background: var(--accent);
  height: 90%;
  padding: 0 50px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: space-between; }

.content .splash-text h1 {
  padding-top: 100px;
  color: var(--light);
  font-family: var(--headerText);
  font-size: 3em;
  line-height: 1.6em; }

.content h2 {
  padding-top: 1em;
  padding-bottom: 4em;
  color: var(--light);
  font-size: 1em;
  font-style: italic; }

.btn-light {
  padding: .7em;
  background-color: white;
  color: var(--dark);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25em;
  border-radius: 5px;
  transition: .2s ease-out; }

.btn-light:hover {
  background-color: #f7f7f7; }

.splash-img {
  height: 90%;
  margin-left: 15%; }

/* Features Section */
.about {
  padding: 150px 0; }

.about .header {
  font-family: var(--headerText);
  text-align: center;
  font-size: 3em; }

.card-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto; }

.card {
  margin-top: 100px;
  box-shadow: 0 0 25px 4px #00000025;
  border-radius: 15px;
  padding: 2em;
  text-align: center;
  width: 300px; }

.card-icon {
  font-size: 6em; }

.card-title {
  margin-top: 1em; }

.card-para {
  margin-top: 3em; }

/* Download Section */
.download {
  background: #FFF1E9;
  padding: 100px 0; }
  .download .title {
    font-family: var(--headerText);
    text-align: center;
    font-size: 3em; }
  .download .subtitle {
    margin-top: 50px;
    text-align: center;
    font-weight: normal; }
  .download .download-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .download .download-container .dropdown-os {
      border-radius: 5px;
      border: 1px solid grey;
      width: 25%; }
    .download .download-container .fa-download {
      font-size: 4em; }
  .download .download-btns {
    padding-top: 100px;
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    .download .download-btns .btn {
      margin: 0 2em;
      display: flex;
      flex-direction: column; }
      .download .download-btns .btn .btn-dark {
        color: white;
        background: var(--dark);
        border: none;
        border-radius: 5px;
        padding: .5em 1.7em;
        font-size: 1.5em;
        transition: .2s ease-out; }
      .download .download-btns .btn .btn-dark:hover {
        opacity: 0.7; }
      .download .download-btns .btn .btn-os {
        color: white; }
      .download .download-btns .btn label {
        text-align: center;
        padding-top: .5em; }
  .download .download-mobile {
    display: none; }

.footer {
  background: var(--dark);
  padding: 1em 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  line-height: 36px; }

.footer .pages {
  display: flex; }

.footer .page-link {
  display: block;
  color: var(--light);
  text-decoration: none;
  padding: 0 1em; }

.footer .address p, .footer .address p strong {
  color: var(--light);
  font-style: normal; }

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
    font-size: 2em; }
  .links {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 2em 2.5em;
    background: white;
    text-align: center; }
  .links.active {
    display: block; }
  .nav-link {
    display: block;
    padding: .5em 0;
    font-size: 1.5em;
    width: 100%; }
  .content {
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding: 30px; }
  .content .splash-text h1 {
    padding-top: 0px;
    font-size: 1.8em;
    line-height: 1em; }
  .content h2 {
    padding-bottom: 2em;
    font-size: 1em; }
  .splash-img {
    height: 40%;
    margin-top: 4em;
    margin-left: 10%; }
  .about .header {
    font-size: 2em; }
  .card-row {
    flex-direction: column; }
  .card {
    width: 250px;
    margin-top: 50px; }
  .download .download-container, .download .download-btns {
    display: none; }
  .download .download-mobile {
    display: block;
    text-align: center;
    font-style: italic;
    width: 50%;
    margin: 0 auto;
    padding-top: 3em; }
  .footer {
    padding: 2em 10%;
    display: block; }
  .footer .pages {
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    padding: 1em 0; }
  .footer .page-link {
    font-size: 1.3em;
    padding: .5em 0; }
  .footer .address {
    text-align: center;
    padding: 1em 0; }
  .footer .address p {
    padding: 1em 0; }
  .footer .address strong {
    display: block;
    font-size: 1.3em; } }
